
.table-row {
  height: 20vh;
}

.book-title {
  font-weight: bold;
  font-size: 1.3rem;
}

.button {
  border: none;
  font-size: 1.2rem;
}

.category-title {
  margin-top: 20px;
}

.book-category {
  color: #7f8081;
}
