.form {
    width: 56%;
  }

  .add-book {
    color: #7f8081;
    font-size: 1rem;
    font-weight: bold;
  }

.enter-title {
  font-size: 1.5rem;
}

.button {
    border: none;
    font-size: 1.2rem;
}

select {
  border: none;
  margin-top: 2em;
}
    