.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.main-container {
  height: 16vh;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
}

select {
  border: none;
  margin-top: 2em;
}

.image-container {
  margin-top: 15px;
  font-size: 2rem;
}

.table-row {
  height: 20vh;
}

.book-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.enter-title {
  font-size: 1.5rem;
}

.button {
  border: none;
  font-size: 1.2rem;
}

.add-book {
  color: #7f8081;
  font-size: 1rem;
  font-weight: bold;
}

.form {
  width: 56%;
}
